fastapi
uvicorn[standard]
websockets
python-socketio[asgi]
pymongo
python-dotenv
argon2-cffi
pydantic[email]
sqlalchemy[asyncio]
alembic
asyncpg
psycopg2-binary
python-jose[cryptography]
python-multipart
email-validator
passlib[bcrypt]
geopy
requests
httpx
aiohttp
flask
motor
PyJWT
boto3
botocore
appwrite
redis
