fastapi
uvicorn[standard]
pymongo
python-dotenv
argon2-cffi
pydantic[email]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
python-jose[cryptography]
python-multipart
email-validator
passlib[bcrypt]
geopy
requests
httpx
aiohttp
flask
motor
PyJWT
boto3
appwrite
redis
